/* Author(s): Aurel Hudec
 * Description: Custom CSS for the game.
 */

.cell {
    height: 18vh;
    width: 18vh;
    outline: 3px solid black;
    margin: .25rem;
}

.cell-active:hover {
    outline: 3px solid #1E90FF;
    cursor: pointer;
}

.cell-inactive {
    outline: 3px solid #cecece;
}

.cell img {
    width: inherit;
    height: inherit;
}

/* Top row of cells */
.row:first-child > .cell {
    margin-top: 0;
}

/* Bottom row of cells */
.row:last-child > .cell {
    margin-bottom: 0;
}

/* First column of cells */
.row > .cell:first-child {
    margin-left: 0;
}

/* Last columns of cells */
.row > .cell:last-child {
    margin-right: 0;
}