.cell {
    height: 15vh;
    width: 15vh;
    background: white;
    margin: .25rem;
}

.cell-active:hover {
    outline: 3px solid #1E90FF;
    cursor: pointer;
}

.cell-inactive {
    background: #d8d8d8;
    cursor: not-allowed;
}

.cell img {
    width: inherit;
    height: inherit;
}

.row:first-child > .cell {
    margin-top: 0;
}

.row:last-child > .cell {
    margin-bottom: 0;
}

.row > .cell:first-child {
    margin-left: 0;
}

.row > .cell:last-child {
    margin-right: 0;
}